<div class="container-fluid vh-100 d-flex p-0">
    <div class="row w-100 m-0">
        <div
            class="col-md-4 col-lg-3 bg-primary text-white d-flex flex-column align-items-center justify-content-between backgroundColor ">
            <div class="text-center   fb_builder">
                <div class=" " style="height: 100%;">
                   <div class="d-flex  justify-content-center align-items-center" style="width: 100%; height: 100%;">
                    <img src="assets/images/logo@3x.png" alt="FB Logo" style="width: 40px; margin-right: 10px;">
                    <h5 class="mb-0">Form<br> Builder</h5>
                   </div>
                </div>
            </div>
            <div class="fb">
            </div>
        </div>
        <div class="col-md-8 col-lg-9 d-flex align-items-center justify-content-center bg-light">
            <div class="card p-4 mb-2 mt-3 shadow" style="max-width: 700px; width: 100%; border-radius: 20px;">
                @if (!isEditForm) {
                <div class="position-absolute" style="top: 20px; right: 20px;">
                    <button class="btn edit-btn d-flex align-items-center"  (click)="onEditForm()">
                        <img src="assets/images/edit-fontawesome@2x.png" alt="Edit Icon"
                            style="width: 20px; height: 20px;">
                        <span class="ms-2">Edit Form</span>
                    </button>
                </div>
                }
                @if (isEditForm) {
                <div class="position-absolute" style="top: 20px; right: 20px;">
                    <button class="btn close-btn  d-flex align-items-center" (click)="onCloseForm()">
                        <img src="assets/images/close-fontawesome@2x.png" style="width: 20px; height: 20px;">
                        <span class="ms-2">Close</span>
                    </button>
                </div>
                }
                @if (!isEditForm) {
                <h4 class="mb-4">Enter your details</h4>
                }
                @if (isEditForm) {
                <h4 class="mb-4">Edit Form</h4>
                }
                 <app-dynamic-form  [formElements]="formElementsValue"  [isEditFormValue]="isEditForm" />
            </div>
        </div>
    </div>
</div>